apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow-proxy
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow-proxy
  template:
    metadata:
      labels:
        app: mlflow-proxy
    spec:
      containers:
      - name: nginx
        image: nginx:1.25
        ports:
        - containerPort: 443
        - containerPort: 80
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/conf.d
        - name: tls-secret
          mountPath: /etc/nginx/ssl
      volumes:
      - name: nginx-config
        configMap:
          name: nginx-config
      - name: tls-secret
        secret:
          secretName: mlflow-labs-itmo-loc-tls
---
apiVersion: v1
kind: Service
metadata:
  name: mlflow-proxy-service
  namespace: default
spec:
  selector:
    app: mlflow-proxy
  ports:
  - name: https
    port: 443
    targetPort: 443
  - name: http  
    port: 80
    targetPort: 80
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: mlflow-ingress
  namespace: default
spec:
  rules:
  - host: mlflow.labs.itmo.loc
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: mlflow-proxy-service
            port:
              number: 443
  tls:
  - hosts:
    - mlflow.labs.itmo.loc
    secretName: mlflow-labs-itmo-loc-tls